<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= name %> - Hello, world!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="simple.css" />
  <link rel="icon" href="favicon.png">
</head>
<body>
  <main>
    <h1 style="display: none;">Home</h1>
    <%= content %>
  </main>
  <footer style="display: flex; justify-content: space-between;">
    <small>Dylan Weremeichik © 2023 . All Rights Reserved.</small>
    <small>Edited <%= NaiveDateTime.from_erl!(last_modified) %></small>
  </footer>
</body>
</html>
