A list of sites with content that I find useful / interesting:
<a href="https://joelhooks.com">Joel Hooks</a>
<a href="https://100r.co/site/home.html">Hundredrabbits</a>
<a href="https://www.hanselman.com">Scott Hanselman</a>
