<p>I worked with a client (redacted from search) to create a product customizer that would automatically pull information from a streaming service api (redacted from search) and populate a printable template. This reduced... </p>
